body {
  background-color: #DCE0E4;
}

.container-testimoni {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container-testimoni .judul-testimoni {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px 0px 20px;
  text-transform: uppercase;
}
.container-testimoni .list-testimoni {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 30%);
}
.container-testimoni .testimoni {
  padding: 10px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.493);
  border: 1px solid white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}
.container-testimoni .testimoni .header img {
  width: 100%;
  height: 150px;
}
.container-testimoni .testimoni .body p {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.container-testimoni .testimoni .body h4 {
  text-align: end;
}
.container-testimoni .testimoni .body img {
  width: 20px;
}
.container-testimoni .testimoni .rating-star {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3px;
}
.container-testimoni .testimoni .footer * {
  color: grey;
}

.container-form-testimoni {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 70px;
}
.container-form-testimoni .add-testimoni-container {
  text-align: center;
  margin: 10px 0px;
}
.container-form-testimoni form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  background-color: rgba(216, 206, 203, 0.5843137255);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid white;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.507);
}
.container-form-testimoni form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.container-form-testimoni form div * {
  text-transform: capitalize;
}
.container-form-testimoni form div:last-child {
  flex-direction: row;
}
.container-form-testimoni form div:last-child img {
  transition: all 0.5s ease-in-out;
  width: 50px;
  filter: grayscale(100%) drop-shadow(3px -3px 2px white);
}
.container-form-testimoni form input,
.container-form-testimoni form textarea {
  border-radius: 3px;
}
.container-form-testimoni form input[type=text] {
  height: 30px;
}
.container-form-testimoni form input[type=file] {
  padding: 10px;
}
.container-form-testimoni form textarea {
  resize: none;
  height: 100px;
}
.container-form-testimoni form input[type=file] {
  background-color: white;
  border: 1px solid black;
}
.container-form-testimoni form input[type=submit] {
  width: 100px;
  border: 1px solid white;
  padding: 5px 0px;
  border-radius: 15px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 4px 1px black;
}
.container-form-testimoni form div.submit-container {
  justify-content: end;
}
.container-form-testimoni form div.container-rating {
  display: flex;
  flex-direction: column;
}
.container-form-testimoni form div.container-rating div {
  margin: 0px;
}
.container-form-testimoni form div.container-rating .list-rating {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.container-form-testimoni form div.container-rating .list-rating .div-star {
  width: -moz-max-content;
  width: max-content;
}/*# sourceMappingURL=testimoni.css.map */